.hero-unit
  %h1
    The eucalyptus project
  %p
    Hey folks, this app is inteded to get some stats on how much eucalyptus your friends panda
    gets by ranking them by the number of reactions they get on your fackbook wall!
  %p
    Please log into Facebook in order to get started! that's obvious :)
  %a.btn.btn-primary.btn-large
    = facebook_login_button('large')
