= content_for(:more_head) do
  = stylesheet_link_tag 'home'
  = javascript_include_tag 'bootstrap-tooltip'
  = javascript_include_tag 'eucalyptus'
 
=title(t('.your_friends'))
.row
  %ul.friend_list
    -@friends.first(66).each do |friend|
      %li.span1
        .profile-picture
          %a{:href => friend_url(friend['uid']), :rel => 'tooltip', :'data-original-title' => friend['name']}
            %img{:src => friend_picture(friend['uid']), :alt => friend['name']}
